body {
  color: #444;
}

ul.Sortable {
  margin: 30px auto;
  width: 150px;
  list-style: none;
  padding: 0;
}

.Sortable-item {
  text-align: center;
  padding: 0.8em 1.2em;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: grab;
  cursor: -webkit-grab;
}

.Sortable-item:hover {
  background-color: #eee;
}
