body {
  color: #444;
}

ul {
  margin: 60px auto;
  width: 150px;
  list-style: none;
  padding: 0;
}

li {
  text-align: center;
  padding: 0.6em 0.4em;
  border: 1px solid #ddd;
  cursor: pointer;
}

li:not(:last-child) {
  border-bottom: 0;
}

li.is-focused {
  background-color: rgba(77, 151, 255, 0.3);
}
