.no-drag-select {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

.gallery {
  padding: 10px;
}

.gallery-image {
  display: inline-block;
  margin: 0 10px 10px 0;
  transition: opacity 100ms;
}

.gallery-image[data-drag-phantom] {
  opacity: 0.7;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.is-dragging {
  opacity: 0;
}
